{% extends '_base.html' %}

{% block content %}
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}

    <div id="reg_form">
        <h2>Registration form</h2>
        <form action="" method="post" class="form-contact">
            {{ form.hidden_tag() }}

            {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
                <p>{{ field.label() }}
                {% if field.errors %}
                    {{ field(class="invalid") }}
                    <span class="invalid-feedback">
                        {% for e in field.errors %}
                            {{ e }}
                        {% endfor %}
                    </span>
                {% else %}
                    {{ field(class="log_reg_input") }}
                {% endif %}
            {% endfor %}

            <p>{{ form.submit() }}

        </form>
    </div>
{% endblock %}


{##}
{#            <input type="hidden" name="id" value="123456">#}
{#            <ul class="reg_list">#}
{#                <li>#}
{#                    <div class="reg_title">Name:</div>#}
{#                    <input class="reg_input" type="text" name="name" value="">#}
{#                </li>#}
{#                <li>#}
{#                    <div class="reg_title">Age:</div>#}
{#                    <input class="reg_input" type="text" name="old" value="">#}
{#                </li>#}
{#                <li>#}
{#                    <div class="reg_title">City:</div>#}
{#                    <input class="reg_input" type="text" name="city" value="">#}
{#                </li>#}
{#                <li>#}
{#                    <div class="reg_title">Email:</div>#}
{#                    <input class="reg_input" type="text" name="email" value="">#}
{#                </li>#}
{#                <li>#}
{#                    <div class="reg_title">Password:</div>#}
{#                    <input class="reg_input" type="password" name="psw" value="">#}
{#                </li>#}
{#                <li>#}
{#                    <div class="reg_title">Repeat pass:</div>#}
{#                    <input class="reg_input" type="password" name="psw2" value="">#}
{#                </li>#}
{##}
{#            </ul>#}
{##}
{#            <div id="reg_control">#}
{#                <div style="float: left;"><input class="reg_button" type="submit" value="Register"></div>#}
{#                <div style="float: right;"><input class="reg_button" type="reset" value="Clear form"></div>#}
{#            </div>#}